* {
	margin: 0;
	padding: 0;
	font-family: 'Pontano Sans', sans-serif;
/*box-sizing*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul, li, ol {
	list-style: none;
}

/*TIPOGRAFIA*/
h1{
	font-family: 'Arima Madurai', cursive;
	font-size: 3em;
	border: 2px solid #000;
	text-align: center;
}

h3{
	color: #00CED1;
	font-weight: bold;
	font-size: 2em;
	margin: 1% 0 1% 0;
}

/*MOBILE FIRST*/

@media screen and (max-width:500px){

	/*CRIAR GATILHO + MENU DROPDOWN*/

	nav{
			border: 2px solid red;
	}

	main, section{
		height: 100%;
		padding: 15px 10px 30px 10px;
	}

	main img{
		width: 100%;
	}
	
	main h2{
		font-size: 2.5em;
	}

	.bloco1{
		
	}


	.bloco2{
		margin-top: 2%;
	}

	.bloco2 h4{
		font-weight: bolder;
		font-size: 1.5em;
	}

	button{
		border: 1px solid #4F4F4F;
		width: 50%;
		padding: 2%;
		margin: 2% 0 2% 0;
		font-size: 1em;
		border-radius: 10px;
	}

	section button{
		border: none;
		width: 25%;
		padding: 1%;
		font-weight: bold;
		color: #00CED1;
		border-radius: 5px;
	}

	section h1, p, figcaption {
		color: #fff;
		margin: 1%;
	}

	section img{
		width: 200px;
		height: 200px;
		border-radius: 100px;
		margin: 3%;
	}

	section i {
		border-radius: 50px;
		width: 45px;
		height: 45px;
		border: 4px solid #fff;
		padding: 2px;
		background-color: #fff;
	}

	.bloco-artistas{
		text-align: center;
	}

	.palestras{
		background-color: #8B008B;
	}

	.shows{
		background-color: #EE9A00;
	}

	.filmes{
		background-color: #0000FF;
	}

	.workshops{
		background-color: #7FFFD4;
	}

	.mais{
		background-color: #FF34B3;
	}


}